<html ng-app="prosapia">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Prosapia</title>
        <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/ui.css">
        <script src="lib/angular/angular.js"></script>
        <script src="lib/moment/moment.js"></script>

        <script src="js/controller/prosapiaCtrl.js"></script>
        <script src="js/directives/rootPanel.js"></script>
        <script src="js/directives/uiDateDirective.js"></script>
        <script src="js/directives/uiTimeDirective.js"></script>        

        <script src="js/component/inputBuilderDirective.js"></script>            
        <script src="js/component/gridBuilderDirective.js"></script>
        <script src="js/component/ListBoxDirective.js"></script>        
        <script src="js/component/element/FormElement.js"></script>
        <script src="js/component/element/Button.js"></script>
        <script src="js/component/element/TextInput.js"></script>
        <script src="js/component/element/ListBox.js"></script>
        <script src="js/service/Store.js"></script>

        <script src="js/component/element/dyTextInput.js"></script>
        <script src="js/component/element/dyListBox.js"></script>
        <script src="js/component/element/dyButton.js"></script>
        <script src="js/component/element/dyForm.js"></script>
        <script src="js/component/element/dyGrid.js"></script>
    </head>
    <body ng-controller="prosapiaCtrl">
        <div id="prosapiaMenu" class="menu">
            <button class="addButton" ng-click="eventBus.fireEvent('createDyMdcList')">Medicamento</button><br>
            <button class="addButton" ng-click="eventBus.fireEvent('createDyDsgList')">Dosagem</button><br>
            <button class="addButton" ng-click="eventBus.fireEvent('createDyMvtList')">Movimentação</button><br>
            <button class="addButton" ng-click="eventBus.fireEvent('createDyTypList')">Tipo de Movimentação</button><br>
        </div>
    <root-panel event-bus="eventBus"></root-panel>
</body>
</html>